# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing
promotion:
  url:   /akcii/:slug/
  param: { module: promotions, action: show }
promotions:
  url:   /akcii/
  param: { module: promotions, action: index }

form_show:
  url:   /form-show/:slug/
  param: { module: forms, action: show }
form_action:
  url:   /form-store/:slug/
  param: { module: forms, action: index }
form_chcode:
  url:   /form-chcode
  param: { module: forms, action: chcode }

zapchasti_add_to_cart:
  url:   /avtozapchasti/add-to-cart/:car_label/:product/
  param: { module: zapchasti, action: addToCart }
  
zapchasti_label:
  url:   /avtozapchasti/:car_label/
  param: { module: zapchasti, action: label }
zapchasti_label_pager:
  url:   /avtozapchasti/:car_label/:page/
  param: { module: zapchasti, action: label }
  requirements:
    page: ^[\d]+$
zapchasti_label_search:
  url:   /avtozapchasti/:car_label/search/
  param: { module: zapchasti, action: search }
zapchasti_label_search_pager:
  url:   /avtozapchasti/:car_label/search/:page/
  param: { module: zapchasti, action: search }
  requirements:
    page: ^[\d]+$
zapchasti_label_category:
  url:   /avtozapchasti/:car_label/:category/
  param: { module: zapchasti, action: category }
zapchasti_label_category_pager:
  url:   /avtozapchasti/:car_label/:category/:page/
  param: { module: zapchasti, action: category }
  requirements:
    page: ^[\d]+$
zapchasti_label_category_product:
  url:   /avtozapchasti/:car_label/:category/:product/
  param: { module: zapchasti, action: product }
zapchasti_label_category_product_pager:
  url:   /avtozapchasti/:car_label/:category/:product/:page/
  param: { module: zapchasti, action: product }
  requirements:
    page: ^[\d]+$
# default rules

my_cart:
  url:   /my/cart/
  param: { module: my, action: cart }

homepage:
  url:   /
  param: { module: home, action: index }
  
content_page404:
  url:   /404
  param: { module: home, action: page, slug: 404 }

content_page:
  url:   /:slug
  param: { module: home, action: page }
  requirements:
    slug: .*

#shoud be after @content_page, as @zapchasti is used as link marker
zapchasti:
  url:   /avtozapchasti/
  param: { module: zapchasti, action: index }

# generic rules
# please, remove them by adding more specific rules
#default_index:
#  url:   /:module
#  param: { action: index }
#
#default:
#  url:   /:module/:action/*
